In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"a":[1,2,3], "b":[4,5,6], "c":["7","8","9"]})

In [5]:
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

### df.apply() : apply a function to df

In [3]:
f = lambda x : x + 1

In [7]:
df["a"] = df["a"].apply(f)

In [8]:
df

   a  b  c
0  2  4  7
1  3  5  8
2  4  6  9