In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"a":[1,2,3], "b":[4,5,6], "c":["7","8","9"]})

In [3]:
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [4]:
df.dtypes

a     int64
b     int64
c    object
dtype: object

### 过滤

In [5]:
# 使用某一列的值去过滤
df[df["b"]>4]

   a  b  c
1  2  5  8
2  3  6  9

In [6]:
# 使用列的类型去过滤
# df.dtypes is a series, with column name as index and column type as value
df.dtypes

a     int64
b     int64
c    object
dtype: object

In [8]:
# 使用列的类型去过滤
remain_columns_names = df.dtypes[df.dtypes != "object"].index #  这里使用的原理其实就是上边的用列的值去过滤。得到了列的名字
print(remain_columns_names)
df[remain_columns_names] # 使用上述列的名字去保留 df 的某些部分

Index(['a', 'b'], dtype='object')

   a  b
0  1  4
1  2  5
2  3  6

### 索引

df.loc(list) use the list to index the df

In [15]:
df.loc[[2,1]]

   a  b  c
2  3  6  9
1  2  5  8

In [16]:
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9